<!-- visitors/templates/visitors/success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
    body {
        height: 100vh;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #000000, #333333); 
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    .bg-container{
        display: flex; /* Makes it a flex container */
        flex-direction: column; /* Arranges items vertically */
        justify-content: center; /* Centers items along the main axis */
    }
</style>
</head>
<body class = "bg-container">
    <h1>Form submitted successfully!</h1>
  
</body>
</html>
